@model List<HiFi.Dto.Dtos.CompPictureDto>

@foreach (var item in Model)
{
    using (Html.BeginForm("ComponentPictures/" + item.CompPicId, "ProfileSettings", FormMethod.Post, new { enctype = "multipart/form-data" ,id="componentPicturesForm"}))
    {
        <div class="input-group input-group-outline mb-3">
            <div class="my-auto">
                <img id="image_upload_preview2" src="http://localhost:51075/Uploads/CompPictures/@item.CompPicture" width="75" height="75" />
            
                <input type="file" name="compPicFile" accept="image/*" id="inputFile1" />
                <button onclick="DeleteCompPicture(@item.CompPicId)" class="btn btn-warning" style="font-size: 14px">Sil</button>
                <button type="submit" class="btn btn-success" style="font-size: 14px">Kaydet</button>
            </div>
            
        </div>
    }
}
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#image_upload_preview2').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#inputFile1").change(function () {
        readURL(this);
    });
    function DeleteCompPicture(id) {
        $.ajax({
            url: '@Url.Action("DeleteCompPicture", "ProfileSettings")/' + id,
            datatype: 'JSON',
            type: 'POST',
            success: function(result) {
                Swal.fire({
                    icon: 'error',
                    title: 'Bilgiler başarıyla silindi',
                    text:result
                });
                location.reload(true);
            }
        });
    }
    $("#componentPicturesForm").submit(function (e) {
        e.preventDefault();
        $.ajax({
            url: this.action,
            type: 'post',
            data: new FormData(this),
            processData: false,
            contentType: false,
            success: function (result) {
                Swal.fire('İşlem Başarılı',
                    result, 'success');
                location.reload(true);
            }
        });
    });
</script>